<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905047191912-2cgbnrk2689askoq84b9p1dgn1a1n43t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905047191912-2cgbnrk2689askoq84b9p1dgn1a1n43t</string>
	<key>API_KEY</key>
	<string>AIzaSyABXUOBujwRBB-_omMHc1cyT8UbKQNb5TE</string>
	<key>GCM_SENDER_ID</key>
	<string>905047191912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kdtechniques.Happening.iPad</string>
	<key>PROJECT_ID</key>
	<string>happening-8133c</string>
	<key>STORAGE_BUCKET</key>
	<string>happening-8133c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:905047191912:ios:180c1064f63c25c3af66dd</string>
</dict>
</plist>
